html {
  scroll-behavior: smooth;
}

:root {
  background-color: #0D1117;
  margin: 0;
}


.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 30px;
}



.arrows path {
	stroke: #2994D1;
	fill: transparent;
	stroke-width: 3px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s;
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s;
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; 
}


#particles-js{
  width: auto;
  height: 100vh;
}

.h11{
  position: absolute;
  left: 50%;
  top: 50%;
    transform: translate(-58%,-70%); 
  font-size: 60px;

}
.h21{
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%,-50%); 

}
.h22{
  position: absolute;
  left: 40%;
  top: 60%;
  transform: translate(-50%,-50%); 

}
.h23{ 
  position: absolute;
  left: 60%;
  top: 60%;
  transform: translate(-50%,-50%); 

}



.maindiv{
  width: 70%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;

}

.leftdiv {
width: 70%;
border-radius: 10px;
margin-left: auto;
margin-right: auto;
/* background-color: #0D1117; */
}


.card {
    box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
  transition: 0.3s;
  width: 100%;
  border-radius: 10px;
  background-color: #0D1117;
}

.cardimg {
    box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
  transition: 0.3s;
  width: 90%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #161B22;
  color: rgb(255, 255, 255);
}




img {
  border-radius: 10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 5px 5px;
}

.thumbnail { 
top:-50px; 
left:-35px; 
display:block; 
z-index:999; 
cursor: pointer; 
/* -webkit-transition-property: all; 
-webkit-transition-duration: 0.3s; 
-webkit-transition-timing-function: ease;  */

transition-property: all; 
transition-duration: .3s; 
transition-timing-function: ease; 
-webkit-transition-property: all; 
-webkit-transition-duration: .3s; 
-webkit-transition-timing-function: ease; 
} 

.thumbnail:hover { 
transform: scale(1.5); 
}

h1 {
    margin-left: 30px;
    color: #58A6FF;
}


h3 {
    margin-left: 15px;
    padding-right: 15px;
    color: white;
    font-weight:normal
}
h4 {
  margin-left: 15px;
  color: white;
  font-weight:normal
}


a:link {
  text-decoration: none;
  color: #58A6FF;
}

a:visited {
  text-decoration: none;
  color: #58A6FF;
}

a:hover {
  text-decoration: underline;
  color: #58A6FF;
}

body{ 
margin: 0;
background-size: cover;  
font-family: 'Source Sans Pro', sans-serif;
} 


header {
  width: 100%;
  min-height: 70px;
  height: 8%;
  box-sizing: border-box;
  background-color: #0D1117;
  position: fixed;
  align-items: center;
  display: flex;
  justify-content: space-between;
 
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  box-shadow: 0 0 25px 0 #58A6FF;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



#brand img{
  width: 50px;
  object-fit: contain;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

/* #brand a {
  color: #09c372;
} */

.ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

/* .ul a {
  color: white;
} */

.ul li {
  padding: 5px;
  margin-left: 15px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  align-self: center;

}

.ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}




#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  
}

.mobile-menu li {
  margin-bottom: 20px;
  padding: 5px;
  margin-left: 15px;
  border: 1px solid #ffffff;
  background-color: #161B22;
  border-radius: 10px;
  align-self: center;
 
}

@media only screen and (max-width: 100px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

pre ul li {
  margin-bottom: -20px;}

/* for icons */
i {
padding: 15px;
}

