
.maindiv{
  width: 70%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;

}

.leftdiv {
  /* box-shadow: 0px 0px 0px 1px rgb(255, 255, 255); */
/* transition: 0.3s; */
width: 70%;
border-radius: 10px;
margin-left: auto;
margin-right: auto;
/* background-color: #0D1117; */
}


.card {
    box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
  transition: 0.3s;
  width: 100%;
  border-radius: 10px;
  background-color: #0D1117;
}

.cardimg {
    box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
  transition: 0.3s;
  width: 90%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #161B22;
  color: rgb(255, 255, 255);
}




img {
  border-radius: 10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 5px 5px;
}

.thumbnail { 
top:-50px; 
left:-35px; 
display:block; 
z-index:999; 
cursor: pointer; 
-webkit-transition-property: all; 
-webkit-transition-duration: 0.3s; 
-webkit-transition-timing-function: ease; 
} 

/*change the number below to scale to the appropriate size*/ 
.thumbnail:hover { 
transform: scale(1.5); 
}

h1 {
    margin-left: 30px;
    color: #58A6FF;
}


h3 {
    margin-left: 15px;
    color: white;
    font-weight:normal
}
h4 {
  margin-left: 15px;
  color: white;
  font-weight:normal
}


a:link {
  text-decoration: none;
  color: #58A6FF;
}

a:visited {
  text-decoration: none;
  color: #58A6FF;
}

a:hover {
  text-decoration: underline;
  color: #58A6FF;
}

:root {
  background-color: #0D1117;
  margin: 0;
  padding-top: 20px;
  
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* background-color: yellow; */
  /* padding: 10px 20px 50px 40px; */
  font-size: 20px;
  /* margin: 20px; */
  margin-left: auto;
margin-right: auto;



}




body   
{  
height: 125vh;  
margin-top: 80px;  
background-size: cover;  
font-family: sans-serif;  
}  


header {
  width: 100%;
  min-height: 70px;
  height: 10%;
  box-sizing: border-box;
  background-color: #0D1117;
  position: fixed;
  align-items: center;
  top: 0px;
  left: 0px;
  right: 0px;

  padding: 20px;
  /* border: 2px solid rgb(106, 255, 0); */
  box-shadow: 0 0 25px 0 rgb(0, 0, 0);
}


header nav ul {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin: 0;
  /* border: 2px solid red; */
}

header nav ul li {
  list-style-type:none;
  /* min-height: 50px; */
  height: 20px;
  padding-left: 5px;
  /* max-height: inherit; */
}
