
.leftdiv {
  /* box-shadow: 0px 0px 0px 1px rgb(255, 255, 255); */
transition: 0.3s;
width: 50%;
border-radius: 10px;
margin-left: auto;
margin-right: auto;
background-color: #0D1117;
}


.card {
    box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
  transition: 0.3s;
  width: 100%;
  border-radius: 10px;
  background-color: #0D1117;
}

.cardimg {
    box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
  transition: 0.3s;
  width: 90%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #161B22;
}


img {
  border-radius: 10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 5px 5px;
}

.thumbnail { 
top:-50px; 
left:-35px; 
display:block; 
z-index:999; 
cursor: pointer; 
-webkit-transition-property: all; 
-webkit-transition-duration: 0.3s; 
-webkit-transition-timing-function: ease; 
} 

/*change the number below to scale to the appropriate size*/ 
.thumbnail:hover { 
transform: scale(1.5); 
}

h1 {
    margin-left: 30px;
}


h3 {
    margin-left: 15px;
    color: white;
}


a:link {
  text-decoration: none;
  color: #58A6FF;
}

a:visited {
  text-decoration: none;
  color: #58A6FF;
}

a:hover {
  text-decoration: underline;
  color: #58A6FF;
}

:root {
  background-color: #0D1117;
  margin: 0;
  padding: 0;
  
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* background-color: yellow; */
  /* padding: 10px 20px 50px 40px; */
  font-size: 20px;
  /* margin: 20px; */
  margin-left: auto;
margin-right: auto;



}

/* html, body {
  margin: 0;
  height: 100%;
} */




body   
{  
height: 125vh;  
margin-top: 80px;  
padding: 30px;  
background-size: cover;  
font-family: sans-serif;  
}  

/* 
header {  
background-color: #0D1117;  
position: fixed;  
left: 5px;  
right: 50px;  
top: 0px; 
bottom: 0px;
width: 100px;
height: 100% !important; 
display: flex;  
align-items: left;  
padding: 0 0 0 30px;
box-shadow: 0 0 25px 0 rgb(0, 0, 0);  
}  


header nav ul {
  height: 100px;
  display: table-cell;
  vertical-align: center;
  text-align: center;
  float: right;
  vertical-align: left;
}

header nav ul li {
  height: 70px;
  float: left;
  display: block;
  background-color: aqua;
} */

header {
  width: 10%;
  height: 100%;
  box-sizing: border-box;
  background-color: #0D1117;
  position: fixed;
  top: 0px;
  left: 5px;
  padding: 0px 0px 0px 0px;
  box-shadow: 0 0 25px 0 rgb(0, 0, 0);
}

header h1 {
  float: center;
  /* margin: 1px 0px; */
  color: #0D1117;
  font-family: 'Meddon', cursive;
}

header nav ul {
  height: 700px;
  float:middle;
}

header nav ul li {
  width: 90%;
  height: 70px;
  float: center;
  /* display: inline-block; */
}

